{% extends 'base.html.twig' %}

{% block body %}
    <h1>User</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Nama</th>
                <td>{{ user.nama }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Alamat</th>
                <td>{{ user.alamat }}</td>
            </tr>
            <tr>
                <th>Hp</th>
                <td>{{ user.hp }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
